<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkjnpLuele3QUsQOxbUN-UjNL5fpJwmE4</string>
	<key>GCM_SENDER_ID</key>
	<string>971269227863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hienthai.fastowin</string>
	<key>PROJECT_ID</key>
	<string>fast-to-win</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-to-win.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971269227863:ios:fdf16db964153081626a12</string>
</dict>
</plist>